header,section,nav,footer,aside,article,figure,figcaption{
	display: block;
}
body{
	width: 960px;
	margin: 0 auto;
}
header{
	height: 160px;
}
nav,footer{
	clear: both;
	margin:10px;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}
nav ul{
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li{
	display: inline;
	margin-right: 40px;
}
nav li a{
	color: #ffffff;
	text-decoration:none;

}
nav li a:hover,nav li a.current{
	color: #000000;
}
footer{
	text-align: center;
}